#instructions-page{text-align: center;}
.instructions{color:red;}
#quiz-landingpage{text-align: center;}
#score-landingpage{text-align: center;}
#question{color:rgb(9, 1, 51);}
.score{color:rgb(22, 3, 116);}
